body, main, ul, li {
	padding: 0;
	margin: 0;
	text-decoration: none;
	list-style: none;
	font-family: 'Droid Serif', serif;
	font-size: 20px;
}

body {
	background-image: url('./background/background_two.jpg');
	background-repeat:no-repeat;
	background-size:cover;
}

.header-content, .main-content, .main-easy, .footer-content {
	width: 950px;
	margin: 0 auto;
}

main {
	position: relative;
}

img {
	width: 100%;
	height: 100%;
}

button {
	font-family: 'Droid Serif', serif;
}

.board {
  display: flex;
  flex-wrap: wrap;
}

.card {
	position: relative;
	width: 60px;
	height: 80px;
	margin: 5px;
	transition: all 0.6s ease;
	transform-style: preserve-3d;
}

.card-flipped {
	transform: rotateY(180deg);
}

.container {
	perspective: 700;
}

.front, .back {
	position: absolute;
	width: 60px;
	height: 80px;
	top: 0;
	left: 0;
	backface-visibility: hidden;
}

.back {
	transform: rotateY(180deg);
}

.main-content {
	max-width: 950px;
	min-height: 370px;
}

.main-easy {
	max-width: 282px;
	min-height: 370px;
}

.li {
	border: 1px;
}

.celebration {
	width: 550px;
	height: 300px;
}

.header-content {
	display: flex;
	justify-content: space-around;
}

.score-board, .game-setting {
	padding: 20px;
}

.text-align {
	text-align: center;
}

.current-score, .current-time {
	border: 1px solid #ccc;
	border-radius: 3px;
	padding: 5px;
}

.current-time {
	padding: 8px;
}

.leaderboard {
	display: block;
	position: absolute;
}

.top-ten {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 100%;
	background-color: rgba(20, 20, 20, 0.5);
	transition: right 1s;

}

.modal-button:focus + .top-ten{
	right: 0;
}

.leaderboard-detail {
	display: flex;
	justify-content: center;
	padding-bottom: 20px;
}

.celebration {
	margin: 0 auto;
	display: block;
}

.score-title {
	display: flex;
	justify-content: center;
}

.scoreTitle, .current-score, .text-align {
	color: #f2f2f2;
}

li {
	text-align: center;
}

.exit-button {
	display: flex;
	justify-content: center;
}

.animate-border {
	color: #69D2E7;
	outline: 10px dashed #E0E4CC;
	box-shadow: 0 0 0 10px #69D2E7;
	animation: 1s animateBorderOne ease infinite;
}

@keyframes animate-border {
  to {
    outline-color: #69D2E7;
    box-shadow: 0 0 0 10px #E0E4CC;
  }
}

.score-modal {
	width: 300px;
	height: 300px;
}

.start-section {
	padding-top: 40px;
}

.start-button {
	border: none;
	background: #3a7999;
	color: #f2f2f2;
	padding: 10px;
	font-size: 18px;
	border-radius: 5px;
	position: relative;
	box-sizing: border-box;
	transition: all 500ms ease;
}

.start-button:before {
	content:'';
	position: absolute;
	top: 0px;
	left: 0px;
	width: 0px;
	height: 42px;
	background: rgba(255,255,255,0.3);
	border-radius: 5px;
	transition: all 1s ease;
}

.start-button:hover:before {
	width: 100%;
}

.restart-game {
	margin: 10px;
	border: none;
	background: #3a7999;
	color: #f2f2f2;
	padding: 10px;
	font-size: 18px;
	border-radius: 5px;
	position: relative;
	box-sizing: border-box;
	transition: all 500ms ease;
	cursor: pointer;
}

.restart-game:before {
	content:'';
	position: absolute;
	top: 0px;
	left: 0px;
	width: 0px;
	height: 42px;
	background: rgba(255,255,255,0.3);
	border-radius: 5px;
	transition: all 1s ease;
}

.restart-game:hover:before {
	width: 100%;
}

.go-button {
	margin-left: 97px;
}

.go-button {
	border: none;
	background: #3a7999;
	color: #f2f2f2;
	padding: 10px;
	font-size: 18px;
	border-radius: 5px;
	position: relative;
	box-sizing: border-box;
	transition: all 500ms ease;
	margin-bottom: 10px;
	cursor: pointer;
}

.go-button:before {
	content:'';
	position: absolute;
	top: 0px;
	left: 0px;
	width: 0px;
	height: 42px;
	background: rgba(255,255,255,0.3);
	border-radius: 5px;
	transition: all 1s ease;
}

.go-button:hover:before {
	width: 100%;
}

.select-modal {
	padding-top: 20px;
	width: 300px;
	height: 160px;
	background-color: #3a7999;
}

.welcome-sign {
	margin-bottom: 15px;
	margin-left: 107px;
}

.select-mode1 {
	padding-left: 20px;
}

.name-input {
	border: none;
	border-color: transparent;
	border-style: none;
	font-family: 'Droid Serif', serif;
	font-size: 18px;
	width: 138px;
	margin-bottom: 15px;
	margin-left: 5px;
	border-radius: 5px;
}

.select-option {
	border:0px;
  outline:0px;
	font-family: 'Droid Serif', serif;
	font-size: 18px;
	margin-bottom: 5px;
	width: 140px;
	margin-left: 5px;
}

option {
	font-family: 'Droid Serif', serif;
	font-size: 18px;
	border: 1px solid #fff;
  background-color: transparent;
}

.welcome-sign, .select-mode1 {
	color: #f2f2f2;
}

.congrats-modal {
	background: #3a7999;
	width: 250px;
	height: 150px;
}

.congrats-title {
	color: #f2f2f2;
	padding-left: 29px;;
	margin-bottom: 5px;
	padding-top: 31px;
}

.congrats-winner {
	color: #f2f2f2;
	text-align: center;
	margin-top: 5px;
}

.exit-button {
	border: none;
	background: #3a7999;
	color: #f2f2f2;
	padding-top: 11px;
	font-size: 18px;
	border-radius: 5px;
	position: relative;
	box-sizing: border-box;
	transition: all 500ms ease;
	margin-bottom: 10px;
	cursor: pointer;
}

.exit-button:before {
	content:'';
	position: absolute;
	top: 0px;
	left: 0px;
	width: 0px;
	height: 42px;
	background: rgba(255,255,255,0.3);
	border-radius: 5px;
	transition: all 1s ease;
}

.exit-button:hover:before {
	width: 100%;
}

.exit-div {
	width: 100px;
	margin-left: 80px;
	margin-top: 5px;
}

.social {

}

.footer-content {
	margin-top: 20px;
	display: flex;
	justify-content: center;;
	color: #f2f2f2;
}

.social ul {
	list-style: none;
}

.social li {
	display: inline;
	margin-left: 10px;
}

span {
	color: #f2f2f2;
}

a:link {
	text-decoration: none;
}

button:focus {outline:0;}
